@model DataSystem.Models.LkpHfstatus

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h2>Details</h2>

    <div>
        <h4>LkpHfstatus</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HfactiveStatusId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HfactiveStatusId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.HfstatusDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HfstatusDescription)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.HfactiveStatusId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>