@model List<DataSystem.Models.GLM.ViewModels.ReportListViewModel>
@{
    ViewData["Title"] = "National Nutrition Quality Assurance Checklist";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="card">
    <div class="card-header">
        <h2>@ViewData["Title"]</h2>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
        {
            <a asp-controller="Reports" asp-action="Create" class="btn btn-success btn-sm float-right">Add Report</a>
        }
    </div>

    <div class="card-body">
        <table class="table" id="report">
            <thead>
                <tr>
                    <th>ReportID</th>
                    <th>Province</th>
                    <th>District</th>
                    <th>Implementer</th>
                    <th>HF ID</th>
                    <th>HF Name/Type</th>
                    <th>Data Collector</th>
                    <th>Collection Date</th>
                    <th>Collector's Office</th>
                    <th>Data Form</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var row in Model)
                {
                    var warningClass = (row.HasExpiryWarning) ? "table-date-expiry-warning" : "";

                    <tr class="@warningClass">
                        <td>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
                            {
                                <a asp-controller="Reports" asp-action="Edit" asp-route-id="@row.ReportId">
                                    @row.ReportId
                                </a>
                            }
                            else
                            {
                                @row.ReportId
                            }
                        </td>
                        <td>@row.Province</td>
                        <td>@row.District</td>
                        <td>@row.Implementer</td>
                        <td>@row.FacilityId</td>
                        <td>@row.Facility</td>
                        <td>@row.ReportedBy</td>
                        <td>@row.DataCollectorOffice</td>
                        <td>@String.Format("{0:yyyy-MM-dd}", @row.PreparedDate)</td>
                        <td>
                            @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
                            {
                                <a asp-controller="Reports" asp-action="Edit" asp-route-id="@row.ReportId">
                                    @row.DataForm
                                </a>
                            }
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-light btn-sm dropdown-toggle" href="#" data-toggle="dropdown">Actions</a>

                                <div class="dropdown-menu">
                                    <a asp-controller="Reports" asp-action="ShowReport" asp-route-id="@row.ReportId" class="dropdown-item">Show Report</a>
                                    <br />
                                    <a asp-controller="ExcelReports" asp-action="DownloadSections" asp-route-id="@row.ReportId" class="dropdown-item">Excel Format</a>

                                    @if (!row.IsCompleted && SignInManager.IsSignedIn(User) && !User.IsInRole("guest"))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a asp-controller="Reports" asp-action="Complete" asp-route-id="@row.ReportId" class="dropdown-item">Complete</a>
                                    }

                                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("dataentry"))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a asp-controller="Reports" asp-action="Delete" asp-route-id="@row.ReportId" class="dropdown-item">Delete</a>
                                    }

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            var table = $('#report').DataTable({
                responsive: true,
                fixedHeader: true,
                "bPaginate": true,
                "bInfo": false,
            });
        });
    </script>
}