@model DataSystem.Models.GLM.ReportDetailsFormViewModel

@{
    ViewData["Title"] = "National Nutrition Quality Assurance Checklist";
}

<div class="card">
    <div class="card-header">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="card-body">
        <div class="card mb-3">
            <div class="card-header">General Information</div>
            <div class="card-body">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr><td><strong>Data Form: </strong></td><td>@Model.Report.DataForm.Name</td></tr>
                        <tr><td><strong>Province </strong></td><td>@ViewBag.ProvinceName</td></tr>
                        <tr><td><strong>District: </strong></td><td>@ViewBag.DistrictName</td></tr>
                        <tr><td><strong>Facility: </strong></td><td>@ViewBag.FacilityName</td></tr>
                        <tr><td><strong>Facility Type: </strong></td><td>@ViewBag.FacilityTypeName</td></tr>
                        <tr><td><strong>Implementer: </strong></td><td>@ViewBag.ImplementerName</td></tr>
                        <tr><td><strong>Data Collector Name: </strong></td><td>@Model.Report.ReportedBy</td></tr>
                        <tr><td><strong>Data Collection Date: </strong></td><td> @String.Format("{0:yyyy-MM-dd}", Model.Report.ReportPreparedDate)</td></tr>
                        <tr><td><strong>Data Collector Office: </strong></td><td>@Model.Report.DataCollectorOffice</td></tr>
                    </tbody>
                </table>
            </div>
        </div>

        @foreach (var sg in Model.SectionGrids)
        {
    <div class="card mb-3">
        @*<div class="card-header">@sg.Title</div>*@
        <div class="card-header" style="background-color:#F9FAFC"> <h3>@sg.Title</h3></div>
        <div class="card-body">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        @foreach (var column in sg.Grid.Columns)
                        {
                            <th class="font-weight-normal">@column.Title</th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @foreach (var question in sg.Grid.Questions)
                    {
                        <tr>
                            <td>@question.QuestionTitle</td>

                            @foreach (var field in question.Fields)
                            {
                                @if (field.IsPercentageValue)
                                {
                                    <td>@field.Data %</td>
                                }
                                else
                                {
                                    <td>@field.Data</td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
        }
    </div>
</div>

