@model DataSystem.Models.EmployeeAttachmentViewModel
@{
    ViewData["Title"] = "Change Attachment";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]
    </div>

    <div class="card-body">
        @using (Html.BeginForm("ChangeAttachment", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.Id)

            <div class="custom-file">
                @Html.LabelFor(m => m.Attachment, new { @class = "custom-file-label" })
                @Html.TextBoxFor(m => m.Attachment, new { @class = "custom-file-input", type = "file" })
                @Html.ValidationMessageFor(m => m.Attachment)
            </div>
            
            <hr />

            <button type="submit" class="btn btn-success float-right">Upload Attachment</button>
        }
    </div>
</div>