@model DataSystem.Models.Nmr

@{
    ViewData["Title"] = "Monthly Reports";
}
<div class="container">
    <h2>Monthly Nutrition Reports</h2>
    <br />
    <p>
        <a class="btn btn-success" asp-action="Create"><span class="glyphicon glyphicon-plus"></span> Create New</a>
    </p> 
        <table id="dt" class="table table-striped table-bordered nowrap responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.Facility.FacilityName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status.StatusDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Implementer)
                    </th>
                    <th  data-priority="1">
                        HF Status
                    </th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.Month)
                    </th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.Year)
                    </th>
                    <th  >
                        @Html.DisplayNameFor(model => model.message)
                    </th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.OpeningDate)
                    </th>
                    <th data-priority="1">
                        @Html.DisplayNameFor(model => model.UpdateDate)
                    </th>
                    <th data-priority="1"> Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>

@section Scripts{
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dt').DataTable({
                "lengthMenu": [10,25,50,100],
                "processing": true,
                "serverSide": true,
                "bStateSave": true,
                "fnStateSave": function (oSettings, oData) {
                    localStorage.setItem('dt', JSON.stringify(oData));
                },
                "fnStateLoad": function (oSettings) {
                    return JSON.parse(localStorage.getItem('dt'));
                },
                "ordering": false,
                "ajax": {
                    "url": "/nmr/pagedata",
                    "type": "post"
                },
                "columns": [
                        { "data": "facilityName"},
                        {"name": "Description"},
                        { "data": "implementer"},
                        { "data": "hfStatus"},
                        { "data": "month"},
                        { "data": "year"},
                        { "data": "message"},
                        { "data": "openingDate"},
                        { "data": "updateDate"},
                        { "name": "Actions"},
                ],
                "columnDefs": [
                {
                    "data": "nmrid",
                    "targets": 9,
                    "sorting": false,
                    "orderable": false,
                    "render": function (data, type, row) {
                        if (row.stat == 3 || row.hfstat !=1) {
                            return '';
                        }
                        else {
                            return '<div style="display: inline-block; float: none; white-space: nowrap;"> <a href="/nmr/delete/' + row.nmrid + '" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a> <a class="btn btn-primary btn-xs" target="_blank" href="/nmr/questions/' + data + '"><span class="glyphicon glyphicon-pencil"></span></a> <a target="_blank" href="/nmr/edit/' + row.nmrid + '" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> </div> '
                        }

                    }
                },
                {
                    "targets": 7,
                    "sorting": false,
                    "orderable": false,
                    "render": function (data, type, row) {
                    if (data) {
                         var mDate = moment(data);
                         return (mDate && mDate.isValid()) ? mDate.format("DD/MM/YYYY LT") : "";
                              }
                          return "";
                     }
                },
                {
                    "targets": 8,
                    "sorting": false,
                    "orderable": false,
                    "render": function (data, type, row) {
                        if (data) {
                            var mDate = moment(data);
                            return (mDate && mDate.isValid()) ? mDate.format("DD/MM/YYYY LT") : "";
                        }
                        return "";
                    }
                },
                {
                    "targets": 1,
                    "data": "stat",
                    "sorting": false,
                    "orderable": false,
                    "class": 'text-center',
                    "render": function (data, type, row) {
                        if (data<=2) {
                            return '<span class="label label-default">Updating</span>';
                        }
                        if (data ==3) {
                            return '<span class="label label-success">Verified</span>';
                        }
                        if (data == 4) {
                            return '<span class="label label-danger">Rejected</span>';
                        }
                        if (data == 5)
                        {
                            return '<span class="label label-warning">Reacted</span>';
                        }
                        if (data == 6) {
                            return '<span class="label label-info">Information</span>';
                        }
                        if (data == 7) {
                            return '<span class="label label-primary">Submitted</span>';
                        }                   
                    }
                }
                ]
            });
        })
</script>
}

<style>
    .submissionlabel
    {

    }
</style>