@model DataSystem.Models.Mamreq

@{
    ViewData["Title"] = "MAM Supply Request";
}
<div class="container">
    <h2>MAM Supply Request</h2>
    <br />
    <table id="dt" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%">
        <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.ReqYear)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.ReqMonth)
                        </th>
                        <th class="text-center">
                            # of months
                        </th>
                        <th class="text-center">
                            Implemetar
                         </th>
                        <th class="text-center">
                            Province
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Ph)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Dh)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Chc)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Bhc)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Shc)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Mht)
                        </th>
                        <th class="text-center">
                            Requested by
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.UpdateDate)
                        </th>
                        <th class="text-center" data-priority="1">Actions</th>
                    </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
      <script>
        $(document).ready(function () {
            $('#dt').DataTable({
                "lengthMenu": [25,50,100],
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "ajax": {
                    "url": "/mamreport/pagedata",
                    "type": "post"
                },
                "columns": [
                        { "data": "yearFrom", "name": "Name", "autoWidth": true },
                        { "data": "monthFrom", "name": "ReqMonth", "autoWidth": true },
                        { "data": "month", "name": "Month", "autoWidth": true },
                        { "data": "impCode", "name": "Implemetar", "autoWidth": true },
                        { "data": "provCode", "name": "Province", "autoWidth": true },
                        { "data": "ph", "autoWidth": true },
                        { "data": "dh", "autoWidth": true },
                        { "data": "chc", "autoWidth": true },
                        { "data": "bhc", "autoWidth": true },
                        { "data": "shc", "autoWidth": true },
                        { "data": "mht", "autoWidth": true },
                        { "data": "reqBy", "name": "ReqBy", "autoWidth": true },
                        { "data": "updateDate", "name": "UpdateDate", "autoWidth": true },
                        { "name": "actions", "autoWidth": true },

                ],

                "columnDefs": [
                {

                    "data": "rid",
                    "targets": 13,
                    "sorting": false,
                    "orderable": false,
                    "class": 'text-center',
                    "width": "8%",
                    "render": function (data, type, row) {
                        return '<div style="display: inline-block; float: none; white-space: nowrap;"> <a href="/mamreport/details/' + row.rid + '" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a></div>';
                    }
                },
                    {
                    "data":"updateDate",
                    "targets": 12,
                    "sorting": false,
                    "orderable": false,
                    "class": 'text-center',
                    "render": function (data, type, row) {
                        if (data) {
                            var mDate = moment(data);
                            return (mDate && mDate.isValid()) ? mDate.format("DD/MM/YYYY LT") : "";
                        }
                        return "";
                    }
                },
                ]
            });
        })
    </script>
}