@model IEnumerable<DataSystem.Models.hmisindicators>

@{
    ViewData["Title"] = "HMIS Indicators";
}
    <div class="container">      
        <div class="row">
            <div class="col-md10">
                <h3>HMIS Indicators</h3>
                <br />

            <ejs-grid id="HmindGrid" allowSorting="true" allowResizing="true" actionComplete="actionComplete" toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" allowPaging="true">
                <e-data-manager url="/hmind/UrlDataSource"  adaptor="UrlAdaptor"  insertUrl="/hmind/Insert" updateUrl="/hmind/Update" removeUrl="/hmind/Remove" ></e-data-manager>
                <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="indicatorId" headerText="ID" isPrimaryKey="true" validationRules="@(new { required=true, number=true})" textAlign="Left" width="60"></e-grid-column>
                    <e-grid-column field="indicatorDescription" headerText="Indicator" validationRules="@(new { required=true})" textAlign="Left" width="300"></e-grid-column>
                    <e-grid-column field="indDataSource" headerText="Data Source" validationRules="@(new { required=true})" textAlign="Left" width="120"></e-grid-column>
                    <e-grid-column field="indCaluculation" headerText="Calculation" validationRules="@(new { required=false})" textAlign="Left" width="120"></e-grid-column>
                    <e-grid-column field="indType" headerText="Type" validationRules="@(new { required=true})" textAlign="Left" width="80"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
            </div>
        </div>
    </div>
@section Scripts{
}
<script>
    function actionComplete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var dialog = args.dialog;
            dialog.width = 650;
            // change the header of the dialog
            dialog.header = args.requestType === 'beginEdit' ? 'Record of ' + args.rowData['indicatorDescription'] : 'New';
        }
    }

</script>