@model IEnumerable<DataSystem.Models.GLM.Question>
@{
    ViewData["Title"] = "Questions";
}

<div class="card">
    <div class="card-header">
        @ViewData["Title"]

        <a asp-controller="Questions" asp-action="Create" asp-route-SectionId="@ViewData["SectionId"]" class="btn btn-success btn-sm float-right">Add Question</a>
        <a asp-controller="Sections" asp-action="Index" class="btn btn-link btn-sm">Back to Sections</a>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Section</th>
                    <th>Sort Order</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var row in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Questions" asp-action="Edit" asp-route-id="@row.Id">
                                @row.Title
                            </a>
                        </td>
                        <td>@row.Section.Title</td>
                        <td>@row.SortOrder</td>
                        <td>
                            <a asp-controller="Questions" asp-action="Delete" asp-route-id="@row.Id" class="btn btn-danger btn-sm float-right">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
